body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    width: 80%;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.734);
    margin-top: 160px;
}
header {
    background-color: #1a1a1adc;
    color: #fff;
    padding: 0px;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
header img {
    width: 100px;
    height: 70px;
    object-fit: cover;
    margin-top: 7px;    
  }
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: #ccc;
}
.header {
    background-color: #7da2cc00;
    padding: 15px;
    border-radius: 8px 8px 0 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.form-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.form-group {
    width: 45%;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}
.form-group input[type="text"], .form-group input[type="password"] {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.radio-group {
    margin-top: 20px;
}
.radio-group label {
    margin-right: 10px;
    font-size: 14px;
    color: #333;
}
.search-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
.search-container input[type="text"] {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}