body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
.container {
    margin-top: 200px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
}

.form-group {
    gap: 1px;
    display: flex;
    flex-wrap: wrap;
}

.form-group label {
    font-weight: bold;
    color: #555;
    width: 100%;
    justify-content: start;
}

.form-group input {
    padding: 10px;
    width: calc(100% - 20px);
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.form-group input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

button {
    width: 20%;
    margin-top: 40px;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

button.batal {
    background-color: #dc3545;
}

button.batal:hover {
    background-color: #c82333;
}
.required {
    color: red;
  }