body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #1a1a1adc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 60px;
}

.logo {
    width: 200px;
    height: auto;
}

.logo img {
    width: 100px;
    height: 70px;
    object-fit: cover;
    margin-top: 7px;
}

.home-icon img {
    width: 70px;
    height: 70px;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

form {
    width: 1000px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.734);
    margin-top: auto;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.form-group label {
    margin-right: 10px;
    min-width: 80px;
}

.form-group input,
.form-group textarea {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 40px;
}

.form-group input.long {
    width: calc(100% - 90px);
}

textarea {
    width: calc(100% - 90px);
    resize: none;
}

.form-buttons {
    display: flex;
    justify-content: center;
}

.form-buttons button[type="button"] {
    background-color: #f44336;
    margin-left: 690px;
}

.form-buttons button {
    padding: 9px 14px;
    margin: 0 4px;
    margin-top: 30px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.form-buttons button:hover {
    opacity: 0.8;
}